@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.section-padding {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

/* Navbar Section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.8rem 6rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  height: 70px;
}

.navbar-logo {
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  height: 70px;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links p {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar-links a {
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
}

.navbar-links a:hover {
  border-bottom: 3px solid red;
}

.navbar-links a.active {
  border-bottom: 3px solid red;
}

.navbar-account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-account p {
  margin: 0 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

#open-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-menu {
  display: none;
}

/* Header Section */

.header {
  background-color: #e9eaec;
  display: flex;
  flex-direction: row;
}

.header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-content h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -0.04em;
}

.header-content p {
  font-size: 20px;
  line-height: 27px;
  margin-top: 1.5rem;
}

.header-content button {
  background-color: #f47c1c;
  color: #fff;
  border: none;
  border-radius: 8px;
  min-height: 40px;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image img {
  width: 100%;
  height: 100%;
}

/* Product Section */
.products {
  display: flex;
  flex-direction: column;
}

.products-title {
  width: 100%;
  margin-bottom: 4rem;
}

.products-title h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: -0.04em;
  text-align: center;
}

.product-list {
  flex: 1;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
}

.product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-content {
  height: 100%;
  padding: 1rem 1.5rem;
}

.product-image {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-content h3{
  color: #a5a7aa;
  font-weight: 700;
}

.product-content h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.rating .fa-solid  {
  color: #FF9529;
}

.product-content p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin: 0.5rem 0rem;
}

/* Service Section */
.service {
  display: flex;
  flex-direction: column;
}

.service-title {
  width: 100%;
  margin-bottom: 4rem;
}

.service-title h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.04em;
  text-align: center;
}

.service-list {
  flex: 1;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4rem;
}

.service-image {
  height: 80px;
}

.service-pay,
.service-track,
.service-shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.service-content {
  height: 100%;
  padding: 1rem 1.5rem;
  text-align: center;
}

.service-content h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.service-content p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}


/* Footer Section */
.footer{
  display: flex;
  flex-direction: column;
  background-color: #F1F1F7;
  color: black;
}

.footer-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.footer-links div{
  width: 200px;
  margin: 1rem;
}

.footer-links_logo{
 display: flex;
 flex-direction: column;
}

.footer-links_logo img{
  width: 140px;
  height: 100px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer-links_div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-links_div h4{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-links_div p{
  font-size: 16px;
  line-height: 20px;
  margin: 0.5rem 0;
  cursor: pointer;
}


.footer-payment_info img{
  width: 200px;
  height: 120px;
  margin-top: 1rem;
}

.footer-links_div p:hover{
  color: rgb(214, 11, 11);
}

.footer-copyright{
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  
}

.footer-copyright p{
  font-size: 16px;
  line-height: 20px;
}

/* Products Page */
.product-page{
  display: flex;
  justify-content: space-around;
  margin: 2rem 6rem;
}

.product-category{
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}



.product-category h2{
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 2rem;

}

.product-category-list{
  padding-top: 2rem;
}

.product-category-list h4{
  font-size: 24px;
  line-height: 36px;
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
  color: black;
  
}

.category-link.active-link, .category-link:hover{
  color: red;
}

.explore-category{
  display: flex;
  flex-direction: column;
}

.explore-category h2{
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

.explore-category span{
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}


.explore-products{
  display: none;
}

.explore-products.active-tab{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}


.product-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
}

.product-item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem 1rem 0rem;
}

.product-description{
  height: 100%;
  padding: 1rem 1.5rem;
}

.product-description h3{
  color: #a5a7aa;
  font-weight: 700;
}

.product-description h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.product-description p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin: 0.3rem 0;
}



/* ProductDescription Page */
.detailedProduct{
  display: flex;
  flex-direction: row;
  padding: 4rem 6rem;
}

.detailedProduct-image{
 flex: 1;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.image-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
}

.image-list img{
  width: 75px;
  height: 120px;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

.image-link.active-image{
  border: 2px solid orange;
}

.main-image-link{
  display: none;
}

.active-main-image{
  display: block;
}

.main-image img{
  width: 100%;
  height: 100%;
}

.detailedProduct-desc{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 2rem; 
  
}

.detailedProduct-desc h2{
  font-size: 36px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: -0.04em;
}

.rating{
  padding: 0.5rem 0;
}

.detailedProduct-desc h4{
  font-size: 18px;
  color: red;
  padding: 0.5rem 0;
}

.line{
  height: 2px;
  width: 100%;
  background-color: grey;
  margin-top: 0.5rem;
  opacity: 50%;
}

.detailedProduct-desc_info{
  width: 100%;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(188, 186, 186);
}

.detailedProduct-btns{
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom:  2px solid rgb(188, 186, 186);
}

.buy-btn{
  padding: 0.5rem 1rem;
  /* border-radius: 0.5rem; */
  border: none;
  background: #F47C1C;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

.addCart-btn{
  padding: 0.5rem 1.5rem;
  border: none;
  background: #F47C1C;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.more-info{
  margin: 2rem 0;
}

.more-info span{
  font-weight: 400;
}





/* Responsive */
@media screen and (max-width: 1050px) {
  /* Navbar Section */
  .navbar-links {
    display: none;
  }

  #open-btn {
    display: block;
    position: absolute;
    left: 20px;
  }

  .side-menu {
    display: block;
    background-color: orange;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 4rem;
  }

  .side-menu p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1.3rem;
  }

  #close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    cursor: pointer;
  }

  /* Header Section */

  .header {
    flex-direction: column;
  }

  .header-content {
    margin: 0 0 3rem;
  }

  .product-category{
    display: none;
  }

  .detailedProduct{
    flex-direction: column;
 
  }

  .detailedProduct-image{
    flex-direction: column;
  }

  .image-list{
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 1rem;

  }

}

@media screen and (max-width: 750px) {
  .section-padding {
    padding: 4rem;
  }

  .section-margin {
    margin: 4rem;
  }

  .header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .service-title {
    margin-bottom: 2rem;
  }


}

@media screen and (max-width: 500px) {
  .section-padding {
    padding: 4rem 2rem;
  }

  .section-margin {
    margin: 4rem 2rem;
  }

  header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .header-content p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 1rem;
  }

  .service-title h1 {
    font-weight: 800;
    font-size: 42px;
    line-height: 54px;
  }

  .detailedProduct{
    padding: 2rem;
  }




}
